<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

=======
<%= render 'layouts/navbar' %>
>>>>>>> 41ead7a6f4e817696827baf98ec993cd8cbde33d
<%= yield %>

</body>
</html>
